/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn{
	display: inline-block;
	padding: 5px 15px;

	background: $brand-highlight;
	color: $brand-color;
	cursor: pointer;

	&:hover{
		background: $brand-highlight - 25;
	}
}
