/*------------------------------------*\
    INSTREAM PLUS SECTION
\*------------------------------------*/

.mpu-content{
	height: 250px;
	width: 300px;

	position: absolute;
	top: 0;
}

.instream-content{
	height: 250px;
	width: 300px;

	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
}